body {
    width: auto;
    height: auto;
    padding-top: 20px;
    padding-left: 20px;
  
    font-size: 14px;
    line-height: 1.5;
    font-family: "Signika", sans-serif;
    color:black;
  
    background-color: rgb(228, 237, 238)
  }
  
  .column{
    display: fixed;
    background-color: white;
    border: 2px solid white;
    margin-left:50px;
    margin-right: 50px;
  }
  
  .column1 { 
    float : left;
    width : 20%;
    }
  
  .column2 {
    float : right;
    width : 60%;
  }

  /*.subColumn1{
    float : left;
    width : 45%;
  }

  .subColumn2{
    float : right;
    width : 15%;
}*/

  .column3 {
    float : left;
    margin-top: 100px;
    margin-left: 50px;
    width : 40%;
}

.column4 {
    float : right;
    background-color: rgb(241, 246, 247);
    margin-top: 100px;
    margin-right: 50px;
    width : 42%;
}
  
  .column5 {
    float : right;
    background-color: rgb(241, 246, 247);
    margin-top: 70px;
    margin-right: 50px;
    width : 42%;
  }
  
  .column6 {
    float : left;
    margin-top: 30px;
    width : 40%;
    min-height: 200px;
  }
  
  .column7 {
    float : right;
    width : 42%;
    margin-top: 50px;
    min-height: 80px;
  }
  
  .column8 {
    float : right;
    width : 42%;
    margin-top: 25px;
    min-height: 80px;
  }
  
  .column9 {
    float : left;
    margin-top: 30px;
    width : 40%;
  }
  
  .column10 {
    float : right;
    width : 42%;
    margin-top: 25px;
    min-height: 250px;
  }
  
  .column11 {
    float : left;
    margin-top: 30px;
    width : 40%;
  }
  
  .footerColumn {
    background-color: rgb(228, 237, 238);
    float : right;
    width : 40%;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom:20px;
    border: none;
  }

  
  .footerSpan{
      float : bottom;
      width : 400px;
  }
  