@font-face{
  font-family: 'Signika-Bold';
  src: url('Signika/Signika-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

@font-face{
  font-family: 'Signika-Light';
  src: url('Signika/Signika-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Signika-Regular';
  src: url('Signika/Signika-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Signika-SemiBold';
  src: url('Signika/Signika-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SignikaNegative-Bold';
  src: url('Signika_Negative/SignikaNegative-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SignikaNegative-Light';
  src: url('Signika_Negative/SignikaNegative-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SignikaNegative-Regular';
  src: url('Signika_Negative/SignikaNegative-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SignikaNegative-SemiBold';
  src: url('Signika_Negative/SignikaNegative-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  width: 1511px;
  height: 1716px;

  max-width: 1511px;
  max-height: 1716px;
  
  font-size: 14px;
  font-family: Signika-SemiBold serif;
  color:black;

  background:url(pictures/verticalLine.png) no-repeat left 733px top 422px #EAEDF1;
}
  
.column{
  background-color: white;
  border:1px solid #EFF1F4;

  box-sizing: border-box;
  color:#33495F;
}
  
.columnAvatar { 
  
  float: left;
  width: 218px;
  height: 296px;
  background-color: white;
  margin-left:81px;
  margin-top: 83px;
  margin-right:0px;

  border:none;
  background:url(pictures/undAvatar1.png) no-repeat center bottom white;
}

.column2 { 
  float: left;
  width: 218px;
  height: 296px;
  margin-top: 83px;
  margin-left:0px;
  margin-right:88px;
  line-height: 16px;

  font-size: 19px;
  padding-top:51px;
  border:none;

  background:url(pictures/undAvatar2.png) no-repeat center bottom white;
}

  
.column3 {
  font-family: "SignikaNegative-Regular", sans-serif;
  line-height: 25px;
  float: left;
  width: 434px;
  height: 295px;
  margin-top: 83px;
  margin-right:0px;

  padding-top: 45px;
  padding-left: 32px;
  border:none;

  background:url(pictures/picLinks.png) no-repeat center bottom white;
}

.column4 {
  font-family: "SignikaNegative-SemiBold", sans-serif;
  line-height: 45px;
  float: left;
  width: 389px;
  height: 295px;
  margin-top: 83px;
  margin-left:0px;
  margin-right:0px;

  font-size: 22px;
  text-align: center;
  padding-top:110px;
  border:none;
}
  
.column5 {
  font-family: Signika-Regular serif;
  font-size: 11px;
  clear:both;
  float : left;
  margin-top: 36px;
  margin-left: 83px;
  width : 633px;
  height: 339px;

  padding-top:33px;
  padding-left: 24px;
}

.line{
  position:absolute;
  width:6px;
  height:1138;
  background-color: #DBE1E8;
}
  
.column6 {
  float : left;
  width : 626px;
  height: 170px;
  background-color: #DBE1E8;
  margin-left: 90px;
  margin-top: 36px;
  border:none;

  padding-top:33px;
  padding-left: 24px;
}
  
.column7 {
  float : right;
  width : 626px;
  height: 170px;
  margin-top: 32px;
  margin-right: 77px;
  background-color: #DBE1E8;
  border:none;

  padding-top:35px;
  padding-left: 25px;
}
  
.column8 {
  clear:both;
  float : left;
  width : 633px;
  height: 320px;
  margin-top: 0px;
  margin-left: 81px;

  padding-top:32px;
  padding-left: 24px;
}
  
.column9 {
  float : right;
  width : 626px;
  height: 127px;
  margin-top: 71px;
  margin-right: 77px;
  background-color: #DBE1E8;
  border:none;

  padding-top:34px;
  padding-left: 25px;
  padding-right: 26px;
}
  
.column10 {
  float : right;
  width : 626px;
  height: 130px;
  margin-top: 32px;
  margin-right: 77px;
  background-color: #DBE1E8;
  border:none;

  padding-top:33px;
  padding-left: 26px;
  padding-right: 26px;
}
  
.column11 {
  clear:both;
  float : left;
  width : 633px;
  height: 170px;
  margin-top: 0px;
  margin-left: 81px;

  padding-top:34px;
  padding-left: 24px;
}

.column12 {
  background:url(pictures/picForProgressBar.png) no-repeat center top white;
  
  float : right;
  width : 626px;
  height: 401px;
  margin-top: 34px;
  margin-right: 77px;

  padding-top:166px;
  padding-left: 0px;
}

.column13 {
  clear:both;
  float : left;
  width : 633px;
  height: 170px;
  margin-top: -236px;
  margin-left: 81px;

  padding-top:33px;
  padding-left: 26px;
}
  
.footerColumn {
  clear:both;
  float: left;
  width:595;
  height:31px;
  margin-top:56px;
  margin-left:458px;

  background-color: #EAEDF1;
  color:#34495E;
  border:none;

  display:flex;
  justify-content: center;

  font-style: oblique;
}

.blueBtn{
  display: flex;
  justify-content: center;
  height:39px;
  width:217px;
  background-color: #16C4EC;
  color:white;
  border-radius: 3px;
  border:none;

  float: right;
  margin-bottom: 21px;
  margin-right:22px;
}

.grayBtn{
  height:39px;
  width:217px;
  background-color: #B0BBCA;
  color:white;
  border-radius: 3px;
  border:none;

  display: block;
  position: relative;
  float: right;
  margin-bottom: 21px;
  margin-right:22px;
}

.hr1 {
  position: absolute;
  margin-top:807px;
  margin-left:804px;
  border: 0;
  border-bottom: 2px dashed #EAEDF1;
  }

.dispFlex{
  display:flex;
  justify-content: space-between;
}
 
.dispFlexChild{
  align-self: center;
}




progress {
  display: inline-block;
  /* color: red; */
  background-color: #f3f3f3;
  border: 1px solid #DBE1E8;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 270px;
  height: 16px;
  line-height: 21px;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;
}

progress::-webkit-progress-bar {
  background:#DBE1E8;
}

progress::-webkit-progress-value {
  background: #0ECCC0;
  border-radius: 6px 0 0 6px;
}

.rightbar progress::-webkit-progress-value {
  background: #16C4EC;
}

.block-progress {
  width: 640px;
  height:204px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;

  justify-content: space-evenly;

  font-size: 14px;
}

.block-progres-child {
  width: 50%;
  height:53px;
}

.progress-space1{
  position: absolute;
  margin-left: 135px;
  margin-top:-7px;
}

.progress-space2{
  position: absolute;
  margin-left: 14px;
  margin-top:-7px;
}

.progress-space3{
  position: absolute;
  margin-left: 73px;
  margin-top:-7px;
}

.progress-space4{
  position: absolute;
  margin-left: 87px;
  margin-top:-7px;
}

.progress-space5{
  position: absolute;
  margin-left: 175px;
  margin-top:-7px;
}

.progress-space6{
  position: absolute;
  margin-left: 69px;
  margin-top:-7px;
}

.progress-space7{
  position: absolute;
  margin-left: 147px;
  margin-top:-7px;
}

.progress-space8{
  position: absolute;
  margin-left: 47px;
  margin-top:-7px;
}